<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/Chart.min.js}"></script>
    <script th:src="@{/js/transactions-chart-simple.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>KeepMyMoney</title>
</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>


<div class="wrapper">
    <div class="content-menu">
        <form method="post" th:action="@{graphs}">

            <label>Mois
                <select name="monthFilter">
                    <option th:value="null">--Choisir un mois--</option>
                    <option th:each="monthSelector, statIndex : ${monthsSelectorList}"
                            th:value="${statIndex.index + 1 }"
                            th:selected="${param.month != null} ? (${param.month[0] == (statIndex.index + 1).toString()} ? ${monthSelector})"
                            th:text="${monthSelector}">
                        <!--                        th:selected="${param.pageSize != null} ? (${param.pageSize[0] == sizeSelector.toString()} ? ${sizeSelector})"-->
                    </option>
                </select>
            </label>

            <input type="submit">
        </form>
    </div>
    <section class="content-center-row">
        <div class="parent">
            <div class="div1 chart-container">
                <h2>Répartions des dépenses par catégorie</h2>
                <canvas id="chartExpense" width="20" height="20"></canvas>
                <script th:inline="javascript" type="application/javascript">
                    createChart(/*[[${chartDataExpenseTransactions}]]*/[], "chartExpense");
                </script>
            </div>
            <div class="div2 chart-container">
                <h2>Répartions des revenus par catégorie</h2>
                <canvas id="chartIncome" width="20" height="20"></canvas>
                <script th:inline="javascript" type="application/javascript">
                    createChart(/*[[${chartDataIncomeTransactions}]]*/[], "chartIncome");
                </script>
            </div>
            <div class="div3 chart-container">
                <h2>Répartions des revenus par catégorie</h2>
                <canvas id="chartIncomeee" width="20" height="20"></canvas>
                <script th:inline="javascript" type="application/javascript">
                    createChart(/*[[${chartDataIncomeTransactions}]]*/[], "chartIncomeee");
                </script>
            </div>
            <div class="div4 chart-container">
                <h2>Répartions des revenus par catégorie</h2>
                <canvas id="chartIncomee" width="20" height="20"></canvas>
                <script th:inline="javascript" type="application/javascript">
                    createChart(/*[[${chartDataIncomeTransactions}]]*/[], "chartIncomee");
                </script>
            </div>
        </div>
    </section>
</div> <!-- /wrapper -->
</body>
</html>