<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <title>Title</title>

</head>
<body>

<header class="site-header" th:fragments="header">
    <a class="logo" th:href="@{/index}">Keep my money</a>

    <nav class="site-nav">
        <ul class="site-nav-item">
            <li  class="nav-item-li" sec:authorize="isAuthenticated()">
                <a class="site-nav-link" href="#">Transactions</a>
            </li>
            <li class="nav-item-li" sec:authorize="isAuthenticated()">
                <a class="site-nav-link" href="#">Catégories</a>
            </li>
        </ul>
    </nav>

    <div class="actions" sec:authorize="isAuthenticated()">
        <ul class="site-nav-item">
            <li class="nav-item-li">
                <a class="site-nav-link" th:href="@{/index}" sec:authentication="name"></a>
            </li>
        </ul>
        <a class="sign-out-link" th:href="@{/logout}">Déconnexion</a>
    </div>

    <div class="actions" sec:authorize="!isAuthenticated()">
        <ul class="site-nav-item">
            <li class="nav-item-li">
                <a class="site-nav-link" th:href="@{/login}">Connexion</a>
            </li>
            <li class="nav-item-li">
                <a class="site-nav-link" th:href="@{/register}">Créer un compte</a>
            </li>
        </ul>
    </div>
</header>
</body>
</html>