<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <title>KeepMyMoney</title>

</head>
<body>

<header th:fragments="header">
    <nav>
        <!-- <div>
            <a href="#">
                <h3>Keep My Money</h3>
            </a>
        </div> -->
        <ul>
            <li class="header-title">
                <a th:href="@{/index}">
                    <h3>Keep My Money</h3>
                </a>
            </li>
            <li class="deroulant" sec:authorize="isAuthenticated()">
                <a href="/transaction/list.html">Transactions &ensp;</a>
                <ul class="sous">
                    <li><a href="#">Créer</a></li>
                    <li><a href="#">todo</a></li>
                </ul>
            </li>
            <li class="deroulant" sec:authorize="isAuthenticated()">
                <a th:href="@{/categories}">Catégories &ensp;</a>
                <ul class="sous">
                    <li><a th:href="@{/categories/add}">Créer</a></li>
                    <li><a href="#">todo</a></li>
                </ul>
            </li>
            <li class="deroulant connexion" sec:authorize="isAuthenticated()">
               <a th:href="@{/#}" sec:authentication="name"></a>
                <ul class="sous">
                    <li>
                        <a th:href="@{/logout}">Déconnexion</a>
                    </li>
                </ul>
            </li>
            <li class="deroulant connexion" sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">&ensp;Connexion</a>
                <ul class="sous">
                    <li>
                        <a th:href="@{/register}">S'enregistrer</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>