<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
  <title>Register</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div th:text="${msgFlash} != null ? ${msgFlash}"></div>

<div class="wrapper">
  <div class="content-menu">
    <form>
      <label>Désignation
        <input type="text">
      </label>
      <label>Date
        <input type="date" name="date" id="">
      </label>
      <input type="month">
<!--      <label> Mois
        <select>
          <option>
            &#45;&#45; Sélectionner un mois &#45;&#45;
          </option>
          <option>
            Janvier
          </option>
          <option>
            Février
          </option>
          <option>
            Mars
          </option>
        </select>
      </label>-->
      <label>Année
        <input type="number" min="1900" max="2099" step="1" value="2016"/>
      </label>
      <input type="submit">
    </form>
  </div>


  <section class="content">

    <table class="money-table">
      <thead>
      <tr>
        <th class="th-date">Date</th>
        <th class="th-desi">Désignation</th>
        <th class="th-dep">Dépense</th>
        <th class="th-res">Ressource</th>
        <th class="th-cat">Catégorie</th>
        <th class="th-per">Périodicité</th>
        <th class="th-act" colspan="2">Action</th>
      </tr>
      </thead>
      <tfoot>
      <tr class="td-foot">
        <td colspan="2"></td>
        <td>150</td>
        <td>100</td>
        <td>50</td>
        <td colspan="3">
          <div class="links">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">&raquo;</a>
          </div>
        </td>
      </tr>
      </tfoot>
      <tbody>
      <tr th:each="transaction : ${transactionList}" th:object="${transaction}">
        <td th:text="*{date}"></td>
        <td th:text="*{label}"></td>
        <td class="spent-text" th:text="*{category.type == T(fr.hey.keepmymoney.entities.enumerations.EType).SPENT}? *{amount} "></td>
        <td  class="income-text" th:text="*{category.type == T(fr.hey.keepmymoney.entities.enumerations.EType).INCOME}? *{amount} "></td>
        <td th:text="*{category.label}"></td>
        <td th:text="*{category.period.getDisplayValue()}"></td>
        <td><a th:href="@{transactions/detail(id=${transaction.id})}">M</a></td>
        <td>X</td>
      </tr>
      </tbody>
    </table>

  </section>
</div> <!-- /wrapper -->
</body>
</html>