<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>KeepMyMoney</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="msg-flash" th:text="${msgFlash} != null ? ${msgFlash}"></div>

<div class="wrapper">
    <div class="content-menu">
        <form method="post" th:action="@{transactions}">
            <label>Désignation
                <input type="text" name="labelFilter"
                th:value="${param.label != null} ? ${param.label[0]}">
            </label>

            <label> Catégorie
                <select name="categoryFilter">
                    <option th:value="null">--Toutes catégories--</option>
                    <option th:each="category : ${categoryList}"
                            th:value="${category.id}"
                            th:selected="${param.category != null} ? (${param.category[0] == category.id.toString()} ? ${category})"
                            th:text="${category.label + ' - ' + category.type.getDisplayValue() + ' - ' + category.period.getDisplayValue()}">
                    </option>
                </select>
            </label>

            <label> Type
                <select name="typeFilter">
                    <option th:value="null">--Choisir un type--</option>
                    <option th:each="t : ${T(fr.hey.keepmymoney.entities.enumerations.EType).values()}"
                            th:value="${t}"

                            th:selected="${param.type != null and param.type[0] == t.toString()} ? ${t}"
                            th:text="${t.getDisplayValue()}">
<!--                        th:selected="${param.type != null} ? (${param.type[0] == t.toString()} ? ${t})"-->
<!--                        th:selected="${param.type != null} ? (${param.type[0] == ${type} ? ${type.value()})"-->
                    </option>
                </select>
            </label>


            <label>Date
                <input type="date"
                       name="dateFilter"
                       th:value="dateFilter">
            </label>

            <label>Mois
                <select name="monthFilter">
                    <option th:value="null">--Choisir un mois--</option>
                    <option th:each="monthSelector, statIndex : ${monthsSelectorList}"
                            th:value="${statIndex.index + 1 }"
                            th:selected="${param.month != null} ? (${param.month[0] == (statIndex.index + 1).toString()} ? ${monthSelector})"
                            th:text="${monthSelector}">
<!--                        th:selected="${param.pageSize != null} ? (${param.pageSize[0] == sizeSelector.toString()} ? ${sizeSelector})"-->
                    </option>
                </select>

            </label>
            <label>Année
                <input type="number" name="yearFilter"
                        min="2020" max="2099"
                       step="1" value=""
                       th:value="${param.year != null} ? ${param.year[0]}"/>
            </label>

            <label>Nombre par page
                <select name="pageSizeFilter">
                    <option th:each="sizeSelector : ${pageSizeSelectorList}"
                            th:value="${sizeSelector}"
                            th:selected="${param.pageSize != null} ? (${param.pageSize[0] == sizeSelector.toString()} ? ${sizeSelector})"
                            th:text="${sizeSelector}">
                    </option>
                </select>
            </label>
            <input type="submit">
        </form>
    </div>


    <section class="content">
            <table class="money-table">
                <thead>
                <tr>
                    <th class="th-date">Date</th>
                    <th class="th-desi">Désignation</th>
                    <th class="th-dep">Dépense</th>
                    <th class="th-res">Ressource</th>
                    <th class="th-cat">Catégorie</th>
                    <th class="th-per">Périodicité</th>
                    <th class="th-act" colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${transactionList}" th:object="${transaction}">
                    <td th:text="${#temporals.format(transaction.getTransactionDate(), 'dd-MM-yyyy')}"></td>
                    <td th:text="*{label}"></td>
                    <td class="spent-text"
                        th:text="*{category.type == T(fr.hey.keepmymoney.entities.enumerations.EType).SPENT}? *{amount} ">
                    </td>
                    <td class="income-text"
                        th:text="*{category.type == T(fr.hey.keepmymoney.entities.enumerations.EType).INCOME}? *{amount} ">
                    </td>
                    <td th:text="*{category.label}"></td>
                    <td th:text="*{category.period.getDisplayValue()}"></td>
                    <td>
                        <a th:href="@{transactions/detail(id=${transaction.id})}">
                            <img class="icon icon-detail"
                                 src="/icons/search.svg"
                                 alt="loupe">
                        </a>

                    </td>
                    <td>
                        <a th:href="@{transactions/delete(id=${transaction.id})}">
                            <img class="icon icon-trash"
                                 src="/icons/trash.svg"
                                 alt="poubelle">
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <a class="noActive" th:if="${activePage - 1 > 0}"
                   th:href="@{transactions(pageNo=${activePage - 1},
                                pageSize=${param.pageSize != null} ? ${param.pageSize[0]} : null,
                                label=${param.label != null && param.label[0] != ''} ? ${param.label[0]} : null,
                                category=${param.category != null && param.category[0] != ''} ? ${param.category[0]} : null,
                                type=${param.type != null && param.type[0] != ''} ? ${param.type[0]} : null,
                                date=${param.date != null && param.date[0] != ''} ? ${param.date[0]} : null,
                                month=${param.month != null && param.month[0] != ''} ? ${param.month[0]} : null,
                                year=${param.year != null && param.year[0] != ''} ? ${param.year[0]} : null

                               )}">&laquo;</a>

                <!--                            <p th:text="${param.pageSize}"></p><p>-&#45;&#45;&#45;&#45;</p> <p th:text="${param.pageSize[0]}"></p>-->
                <a th:href="@{transactions(pageNo=${pageNumber},
                                pageSize=${param.pageSize != null} ? ${param.pageSize[0]} : null,
                                label=${param.label != null && param.label[0] != ''} ? ${param.label[0]} : null,
                                category=${param.category != null && param.category[0] != ''} ? ${param.category[0]} : null,
                                type=${param.type != null && param.type[0] != ''} ? ${param.type[0]} : null,
                                date=${param.date != null && param.date[0] != ''} ? ${param.date[0]} : null,
                                month=${param.month != null && param.month[0] != ''} ? ${param.month[0]} : null,
                                year=${param.year != null && param.year[0] != ''} ? ${param.year[0]} : null
                                )}"
                   th:each="pageNumber : ${pageNumbers}"
                   th:text="${pageNumber != null} ? ${pageNumber}"
                   th:class="${null != param.pageNo}?(${pageNumber.toString() == param.pageNo[0]} ? active : noActive) : noActive">
                </a>
                <a class="noActive"
                   th:unless="${activePage >= totalPages}"
                   th:href="@{transactions(pageNo=${activePage + 1},
                                pageSize=${param.pageSize != null} ? ${param.pageSize[0]} : null,
                                label=${param.label != null && param.label[0] != ''} ? ${param.label[0]} : null,
                                category=${param.category != null && param.category[0] != ''} ? ${param.category[0]} : null,
                                type=${param.type != null && param.type[0] != ''} ? ${param.type[0]} : null,
                                date=${param.date != null && param.date[0] != ''} ? ${param.date[0]} : null,
                                month=${param.month != null && param.month[0] != ''} ? ${param.month[0]} : null,
                                year=${param.year != null && param.year[0] != ''} ? ${param.year[0]} : null
                               )}">&raquo;</a>

            </div>
    </section>
</div> <!-- /wrapper -->
</body>
</html>