<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/js/Chart.min.js}"></script>
    <script th:src="@{/js/transactions-chart-pie.js}"></script>
    <script th:src="@{/js/transactions-chart-line.js}"></script>
    <title>Index</title>

</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--<h1>Bienvenue sur Keep My Money</h1>

<form th:action="@{/magicButton}" method="post">
    <button type="submit">Magic Button</button>
</form>-->

<div class="wrapper">
    <div class="content-menu">
        <form method="post" th:action="@{graphs}">

            <label>Mois
                <select name="monthFilter">
                    <option th:value="null">--Choisir un mois--</option>
                    <option th:each="monthSelector, statIndex : ${monthsSelectorList}"
                            th:value="${statIndex.index + 1 }"
                            th:selected="${param.month != null} ? (${param.month[0] == (statIndex.index + 1).toString()} ? ${monthSelector})"
                            th:text="${monthSelector}">
                        <!--                        th:selected="${param.pageSize != null} ? (${param.pageSize[0] == sizeSelector.toString()} ? ${sizeSelector})"-->
                    </option>
                </select>
            </label>

            <input type="submit">
        </form>
    </div>
    <section class="content-center-row">

        <div class="graph-container">
            <div class="g1 graph-item">
                <canvas id="chartExpense"></canvas>
                <script th:inline="javascript" type="application/javascript">
                    createChart(/*[[${chartDataExpenseTransactions}]]*/[],
                        "chartExpense",
                        "Répartitions des dépenses par catégorie");
                </script>

            </div>
            <div class="g2 graph-item">
                <canvas id="chartIncome"></canvas>
                <script th:inline="javascript" type="application/javascript">
                    createChart(/*[[${chartDataIncomeTransactions}]]*/[],
                        "chartIncome",
                        "Répartitions des revenus par catégorie");
                </script>
            </div>
        </div>
        <!--<div class="g3">
            <div class="g3-title">
                <h2>Répartions des revenus par catégorie</h2></div>
            <div class="g3-graph">
                <div class="chart-container-line">
                    <canvas id="chartIncomeee" width="400" height="150"></canvas>
                    <script th:inline="javascript" type="application/javascript">
                        createChartLine(/*[[${chartDataIncomeTransactions}]]*/[], "chartIncomeee");
                    </script>
                </div>
            </div>-->


    </section>
</div> <!-- /wrapper -->









</body>
</html>