<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Login</title>
</head>
<body>
<!--<nav th:fragment="header">
    <div>
        <a th:href="@{/}">Registration and Login System</a>
    </div>
</nav>-->
<header th:replace="~{fragments/header :: header}"></header>


<div class="wrapper">
    <section class="content-center">
        <div class="login-form">
            <div th:if="${param.error}">
                <div>Identifiant ou mot de passe incorrect</div>
            </div>
            <div th:if="${param.logout}">
                <div>Vous avez été déconnecté</div>
            </div>
            <div>
                <h1>Se connecter</h1>
            </div>
            <div>
                <form method="post" th:action="@{/login}" role="form">
                    <div>
                        <label>Identifiant
                            <input type="text" id="login" name="login" placeholder="Login"/>
                        </label>
                    </div>

                    <div>
                        <label>Mot de passe
                            <input type="password" id="password" name="password" placeholder="Password"/>
                        </label>
                    </div>

                    <div>
                        <input type="submit" value="Se connecter">
                    </div>
                </form>
            </div>
            <div class="login-form-item">
                Pas de compte ? <a th:href="@{/register}">Créer un compte</a>
            </div>
        </div>
    </section>
</div> <!-- /wrapper -->
</body>
</html>